<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section class="campos-list-wrapper">
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
                >Mostrar
                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
              <label class="d-flex align-items-center ml-1 ml-md-0"
                >Buscar:<input
                  [(ngModel)]="searchValue"
                  name="searchValue"
                  type="search"
                  class="form-control ml-25"
                  (keyup)="filterUpdate($event)"
                  (search)="filterUpdate($event)"
              /></label>
              <button class="btn btn-primary ml-1" rippleEffect (click)="onAddCampo('new-campo-sidebar')">
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                ><span class="d-none d-sm-inline-block">Agregar campo</span>
              </button>
            </div>
          </div>
        </div>
        <ngx-datatable
          [rows]="rows"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >
          <ngx-datatable-column name="Nombre" prop="nombre_campo" [width]="370">
            <ng-template let-row="row" let-nombre_campo="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="avatar mr-1 ml-0 bg-warning">
                    <div class="avatar-content">{{ nombre_campo | initials }}</div>
                </div>
                <div class="col cell-line-height">
                  <a (click)="onEditCampo()" class="font-medium d-block">
                    <span class="font-weight-bold">{{ nombre_campo }}({{ row.siglas_campo }})</span>
                  </a>
                  <span class="text-muted font-small-2"> Cultivo: {{ row.get_nombre_cultivo }}  </span>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Variedad" prop="get_nombre_variedad">
            <ng-template let-row="row" let-get_nombre_variedad="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span class="d-block">{{ get_nombre_variedad.length > 100  ? (get_nombre_variedad | slice:0:20)+'...' : get_nombre_variedad }}</span>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Tipo de suelo" prop="get_nombre_tipo_suelo">
            <ng-template let-row="row" let-suelo="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span class="d-block">{{ suelo }}</span>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Área" prop="area">
            <ng-template let-row="row" let-area="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span class="d-block">{{ area | areaFormat }}</span>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Latitud" prop="latitud">
            <ng-template let-row="row" let-latitud="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span class="d-block">{{ latitud }}</span>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Longitud" prop="longitud">
            <ng-template let-row="row" let-longitud="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span class="d-block">{{ longitud }}</span>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Estado" prop="estado">
            <ng-template let-estado="value" ngx-datatable-cell-template>
              <div
                class="badge badge-pill"
                [ngClass]="{
                  'badge-light-success': estado,
                  'badge-light-secondary': !estado
                }"
              >
                {{ estado ? 'Activo' : 'Inactivo' }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Acciones" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex align-items-center col-actions">
                <a class="mr-1" (click)="onEditCampo('edit-campo-sidebar', row)" container="body" placement="top" ngbTooltip="Editar"
                  ><i size="18" data-feather="edit"></i
                ></a>
                <a class="mr-1" (click)="onOpenDeleteModal(row)" container="body" placement="top" ngbTooltip="Eliminar"
                  ><i size="18" data-feather="trash"></i
                ></a>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
  </div>

  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="new-campo-sidebar"
    overlayClass="modal-backdrop">
    <app-new-campo-sidebar></app-new-campo-sidebar>
  </core-sidebar>

  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="edit-campo-sidebar"
    overlayClass="modal-backdrop">
    <app-edit-campo-sidebar [rowEdit]="rowEdit"></app-edit-campo-sidebar>
  </core-sidebar>
</div>