<p class="clearfix mb-0">
  <span class="float-md-left d-block d-md-inline-block mt-25">
    COPYRIGHT &copy; {{ year }}
    <a class="ml-25" href="https://fertismart.lat/" target="_blank">FertiSmart</a>
    <span class="d-none d-sm-inline-block">, Todos los derechos Reservados</span>
  </span>
  <span class="float-md-right d-none d-md-block">
    Hecho con<span [data-feather]="'heart'" [class]="'pink'"></span> por<a class="ml-25" href="https://fertismart.lat/" target="_blank">FertiSmart</a>
  </span>
</p>

<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>