<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de Cotización</title>
</head>
<body>
    <h1>Solicitud de Cotización</h1>
    <p><strong>Campo:</strong> {{ recomendacion.campo.nombre_campo }}</p>
    <p><strong>Cultivo:</strong> {{ recomendacion.cultivo.nombre_cultivo }}</p>
    <p><strong>Fertilizante:</strong> {{ recomendacion.fertilizante.nombre_fertilizante }}</p>
    <p><strong>Fecha:</strong> {{ recomendacion.fecha }}</p>
    <p><strong>Fósforo:</strong> {{ recomendacion.fosforo }}</p>
    <p><strong>Potasio:</strong> {{ recomendacion.potasio }}</p>
    <p><strong>Temperatura:</strong> {{ recomendacion.temperatura }}</p>
    <p><strong>Humedad del Suelo:</strong> {{ recomendacion.humedad_suelo }}</p>
    <p><strong>Humedad del Aire:</strong> {{ recomendacion.humedad_aire }}</p>
    <p><strong>Nitrógeno:</strong> {{ recomendacion.nitrogeno }}</p>
    <p><strong>Estado:</strong> {{ recomendacion.estado_recomendacion }}</p>
    <p><strong>Observaciones:</strong> {{ recomendacion.observacion }}</p>
</body>
</html>