<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
          <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
        </a>

        <h4 class="card-title mb-1">Su usuario ha sido registrado 🚀</h4>
        <p class="card-text mb-2">La contraseña se ha generado y ha sido enviado a su correo electrónico registrado.</p>

        <p class="text-center mt-2">
          <a routerLink="/pages/authentication/login">
            <i data-feather="chevron-left" class="mb-25"></i> Regresar a inicio de sesión
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
