<div class="slideout-content">
  <div class="modalsd modal-slide-in sdfade new-cultivo-modal" id="modals-slide-in">
    <div class="modal-dialog">
      <form class="add-new-cultivo modal-content pt-0" [formGroup]="registerForm">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('new-cultivo-sidebar')"
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo cultivo</h5>
        </div>
        <div class="modal-body flex-grow-1">
          <div class="form-group">
            <div class="form-group">
              <label class="form-label" for="new-name">Nombre</label>
              <input
                type="text"
                class="form-control dt-name"
                id="new-name"
                name="new-name"
                formControlName="nombre_cultivo"
                placeholder="Ingresa el nombre..."
                [ngClass]="{ 'is-invalid': errorHandlingForm('nombre_cultivo') }"
              />
              <span *ngIf="errorHandlingForm('nombre_cultivo')" class="invalid-form">
                <small 
                  *ngIf="errorHandlingFormValidator('nombre_cultivo', 'required')"
                  class="form-text text-danger">
                  Este campo es requerido!
                </small>
              </span>
            </div>
            <div class="form-group mb-2">
              <label class="form-label" for="new-code">Siglas</label>
              <input
                type="text"
                class="form-control dt-code"
                id="new-code"
                name="new-code"
                formControlName="siglas_cultivo"
                placeholder="Ingresa siglas.."
                [ngClass]="{ 'is-invalid': errorHandlingForm('siglas_cultivo') }"
              />
              <span *ngIf="errorHandlingForm('siglas_cultivo')" class="invalid-form">
                <small
                  *ngIf="errorHandlingFormValidator('siglas_cultivo', 'required')"
                  class="form-text text-danger">
                  Este campo es requerido!
                </small>
              </span>
            </div>
            <div class="form-group mb-2">
              <label class="form-label" for="new-requerimiento_suelo">Requerimiento del suelo</label>
              <fieldset class="form-label-group mb-0">
                <textarea 
                  [maxlength]="300" 
                  class="form-control char-textarea" 
                  id="new-requerimiento_suelo"
                  name="new-requerimiento_suelo"
                  rows="3"
                  formControlName="requerimiento_suelo"
                  placeholder="Ingresa requerimiento del suelo..."
                  [ngClass]="{ 'is-invalid': errorHandlingForm('requerimiento_suelo') }">
                </textarea>
              </fieldset>
              <small class="textarea-counter-value float-right"
                ><span *ngIf="requerimientoSueloControl" class="char-count">{{ requerimientoSueloControl.value && requerimientoSueloControl.value.length }}</span>
                <span *ngIf="!requerimientoSueloControl" class="char-count">0 </span> / 300
              </small>
              <span *ngIf="errorHandlingForm('requerimiento_suelo')" class="invalid-form">
                <small
                  *ngIf="errorHandlingFormValidator('requerimiento_suelo', 'required')"
                  class="form-text text-danger">
                  Este campo es requerido!
                </small>
              </span>
            </div>
            <div class="form-group my-2">
              <label class="form-label" for="variedad">Variedad de Cultivo</label>
              <select 
                id="variedad" 
                class="form-control"
                [ngClass]="{ 'is-invalid': errorHandlingForm('variedad') }"
                formControlName="variedad">
                <option value="">Seleccionar</option>
                <option *ngFor="let variedad of variedadList" 
                    [value]="variedad.id" >
                  {{variedad.nombre_variedad}}
                </option>
              </select>
              <span *ngIf="errorHandlingForm('variedad')" class="invalid-form">
                <small
                  *ngIf="errorHandlingFormValidator('variedad', 'required')"
                  class="form-text text-danger">
                  Este campo es requerido!
                </small>
              </span>
            </div>
            <div class="form-group mb-2">
              <label class="form-label" for="new-codigo_codificado">Codificador</label>
              <input
                type="number"
                class="form-control dt-codigo_codificado"
                id="new-codigo_codificado"
                name="new-codigo_codificado"
                formControlName="codigo_codificado"
                placeholder="Ingresa codificador.."
                [ngClass]="{ 'is-invalid': errorHandlingForm('codigo_codificado') }"
              />
              <span *ngIf="errorHandlingForm('codigo_codificado')" class="invalid-form">
                <small
                  *ngIf="errorHandlingFormValidator('codigo_codificado', 'required')"
                  class="form-text text-danger">
                  Este campo es requerido!
                </small>
              </span>
            </div>
            <div class="form-group my-2">
              <div class="custom-control custom-switch custom-control-inline">
                <input 
                  type="checkbox" 
                  class="custom-control-input" 
                  id="new-estado" 
                  formControlName="estado"/>
                <label class="custom-control-label" for="new-estado">Estado</label>
              </div>
            </div>
          </div>
          <button 
            type="submit" 
            class="btn btn-primary mr-1" 
            [disabled]="registerForm.invalid"
            (click)="onSubmitAdd()" rippleEffect>
            Aceptar
          </button>
          <button
            type="reset"
            class="btn btn-outline-secondary"
            (click)="onReset()"
            rippleEffect
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
